
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'adobe-clean', sans-serif;

}

.navbar {
  font-size: 3px;
  text-align: right;

}

.navbar-brand {
  margin-right: 10px;
}

